/* line 633, ../sass/page1.scss */
body{
    margin: 0 auto;
    padding: 20px 15px;
    line-height: 30px;
    font-family: "microsoft yahei";
    font-size: 14px;
}

img {
    width: 100%;
    margin-bottom: 10px;
}
/* line 644, ../sass/page1.scss */
a {
    color: #607fa6;
}
/* line 647, ../sass/page1.scss */
.h1 {
    font-size: 22px;
}
/* line 650, ../sass/page1.scss */
.h2 {
    color: #666;
    margin-bottom: 10px;
}
/* line 654, ../sass/page1.scss */
h3 {
    background: #00bbec;
    text-indent: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 10px;
}

/* line 664, ../sass/page1.scss */
section {
    text-align: center;
    background: #e4ec4d;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-bottom: 10px;
    line-height: 30px;
}
/* line 671, ../sass/page1.scss */
p {
    font-size: 14px;
    padding-left: 10px;
}
.none{
    display: none;
}
.top{
    width: 100%;
}
.left{
    width: 22%;
    float: left;
}
.right{
    float: left;
    width: 78%;
}
/* line 661, ../sass/page1.scss */
.blo1,.blo2,.blo3,.blo4,.blo5,.blo6,.blo7,.blo8,.blo9,.blo10,.blo11,.blo12 {
    margin-bottom: 10px;
    float: left;
}
.blo12{
    width:100%;
}
.blo6{
    width:50%;
}
.blo4{
    width:33%;
}
.blo3{
    width:25%;
}
.blo2{
    width:16%;
}