<html>
<head>
    <title><%=track.nickname%></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../css/audio_share.css" media="screen">
    <script src="http://cdn.bootcss.com/html5shiv/3.6.2/html5shiv.js"></script>
</head>
<body>
<div class="xiazai" id="weixin-tip">
    <p><img src="/images/live_weixin.png" alt="微信打开" width="100%" height=""/></p>
</div>
<div class="weixin_page1">
    <section class="section">
        <div class="section_top">
            <div class="cd">
                <div class="cd-list">
                    <img src="../images/weixin_share/3_2.png" class="rotating" id="translateImg">
                </div>
            </div>
            <div class="bone">
                <img src="../images/weixin/bone.png">
            </div>
        </div>
        <div class="song_list">
            <h3><%=track.title%></h3>
            <div class="rang">
                <span></span>
                <span id="durationBg"></span>
                <span id="durationRound"></span>
                <span id="opacity"></span>
            </div>
            <div class="btn" id="btn">
                <span id="backward" class="icon-backward incon-2x"></span>
                <span class="icon-play icon-2x" id="audiobutton"></span>
                <span  id="forward" class="icon-forward incon-2x"></span>
            </div>

        </div>
        <audio id="audioplayer" autoplay="autoplay" style="display: none">
            <source src=<%=track.play_url_32%> type="audio/mpeg">
        </audio>
    </section>
    <footer class="footer">
        <div class="footer_section">
            <p>想去看更多好玩有趣的动画吗？快去下载吧！</p>
            <a href="https://itunes.apple.com/cn/app/duo-na-xue-ying-yu-zhi-ru/id852917296?mt=8t"></a>
            <span class="videoShare_logo"></span>
        </div>
    </footer>
</div>
<script src="../js/zepto.min.js"></script>
<script>
    var audio=$("#audioplayer");
    var btn=$("#audiobutton");
    var png=$("#translateImg")
    //判断微信
    var u = navigator.userAgent, app = navigator.appVersion;
    var isweixin = u.toLowerCase().match(/MicroMessenger/i) == 'micromessenger'; //微信
    if(location.search.indexOf("?url=")==0){
        location.href=location.search.substr(5)
    }
    if(isweixin){
        audio[0].pause();
        if(location.search.indexOf("?url=")==0) {
            document.getElementById("weixin-tip").style.display = "block"
        }else{
            document.getElementById("weixin-tip").style.display = "none"
        }
        $(".footer_section a").click(function(e){
            e.preventDefault()
            location.href="?url="+$(this).attr("href")

        })
        document.getElementById("weixin-tip").onclick=function(){
            this.style.display="none"
        }
    }else{
        document.getElementById("weixin-tip").style.display="none"
    }
    //旋转图片元素
    png.css({"animation-play-state":"paused","-webkit-animation-play-state":"paused"})
    $("#audiobutton,#translateImg").click(function () {
        if(btn.hasClass("icon-play")){
            audio[0].play();
        }else{
            audio[0].pause();
        }
    })
    //滑动条
    audio[0].addEventListener("play",function(e){
        btn.removeClass("icon-play").addClass("icon-pause");
        png.css({"animation-play-state":"running","-webkit-animation-play-state":"running"})
    });
    audio[0].addEventListener("pause",function(e){
        btn.removeClass("icon-pause").addClass("icon-play");
        png.css({"animation-play-state":"paused","-webkit-animation-play-state":"paused"})
    });
    audio[0].addEventListener("timeupdate",function(e){
        if(!isNaN(audio[0].duration)){
            var width=$("#opacity").width()
            var avalue = (audio[0].currentTime/audio[0].duration)*width;
            $("#durationBg").css("width",avalue);
            $("#durationRound").css("left",avalue)
        }
    });
    audio[0].addEventListener("canplay",function(e){
        audio[0].play()
    });
    $("#backward").click(function(){
        audio[0].currentTime=audio[0].currentTime-audio[0].duration*0.05
    })
    $("#forward").click(function(){
        audio[0].currentTime=audio[0].currentTime+audio[0].duration*0.05
    })
    var wid=$(window).width()  //检测可视区的宽度
    var hei=$(window).height()  //检测可视区的高度
    if(wid>640&&hei>787){
        $(".footer").css({'position':'fixed',"bottom":"0px"})
    }
</script>
</body>

</html>