<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>亲子界面</title>
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="../css/danye.css" media="screen">

</head>
<body>
<div class="danye">
    <section class="section">
        <div class="user_pic">
            <ul>
                <li><img src="<%=headimg%>" onerror="javascript:this.src='../images/app/speak_double_head2.png';"></li>
                <li><img src="<%=childimg%>" onerror="javascript:this.src='../images/app/speak_double_head2.png';"></li>
            </ul>
            <div class="score"></div>
        </div>
        <div class="score_list">
            <img src="../images/app/speakIpad_huizhang.png">
            <%if(score>=80){%>
            <p>“口语双煞”</p>
            <%}else if(score>=60){%>
            <p>“亲子好声音”</p>
            <%}else{%>
            <p>“口语未来之星”</p>
            <%}%>
        </div>
        <div class="font_list">
            <%if(score>=80){%>
            <p>我和宝宝在“酷学多纳”亲子英文口语测评中表现完美，
            达到哈佛学霸脱口秀水平，江湖人称“口语双煞”！
            够胆就来挑战我们吧！
            </p>
            <%}else if(score>=60){%>
            <p>我和宝宝在“酷学多纳”亲子英文口语测评中配合默契，
                达到英国郊区广播站水平，江湖人称“亲子好声音”。
                敢不敢来挑战我们？！
            </p>
            <%}else{%>
            <p>我和宝宝在“酷学多纳”亲子英文口语测评中努力练习，
                达到剑桥大学附属幼儿园水平，江湖人称“口语未来之星”。
                敢不敢来挑战我们？！
            </p>
            <%}%>
        </div>
        <div class="logo">
            <img src="../images/app/speakIpad_icon.png">
            <span></span>
        </div>
    </section>
    <footer class="footer">
        <div class="btn">
            <a href="https://itunes.apple.com/cn/app/duo-na-xue-ying-yu-zhi-ru/id852917296?mt=8">这个应用真好用，我也要来挑战!</a>
            <span></span>
        </div>
    </footer>

</div>
</body>
<script src="../js/require.js"></script>
<script src="../src/config.js"></script>
<script>
    requirejs(["danye"]);
</script>
</html>
