
<ul class="lingqu">
    <%if(renwuArr.length>=3){%>
    <%if(rw3ok){%>
    <li class="day3 "><strong>已领取</strong></li>
    <%}else{%>
    <li class="day3 active" id="lqrw3"><strong class="active2">领取</strong></li>
    <%}%>
    <%}else{%>
    <li class="day3"><strong>领取</strong></li>
    <%}%>
    <li class="common"></li>
    <%if(renwuArr.length>=7){%>
    <%if(rw7ok){%>
    <li class="day7 active"><strong>已领取</strong></li>
    <%}else{%>
    <li class="day7 active" id="lqrw7"><strong class="active2">领取</strong></li>
    <%}%>
    <%}else{%>
    <li class="day7"><strong>领取</strong></li>
    <%}%>
    <li class="common"></li>
    <%if(renwuArr.length>=14){%>
    <%if(rw14ok){%>
    <li class="day14 active"><strong>已领取</strong></li>
    <%}else{%>
    <li class="day14 active" id="lqrw14"><strong class="active2">领取</strong></li>
    <%}%>
    <%}else{%>
    <li class="day14"><strong>领取</strong></li>
    <%}%>
    <li class="common"></li>
    <%if(renwuArr.length>=21){%>
    <%if(rw21ok){%>
    <li class="day21 active"><strong>已领取</strong></li>
    <%}else{%>
    <li class="day21 active" id="lqrw21"><strong class="active2">领取</strong></li>
    <%}%>
    <%}else{%>
    <li class="day21"><strong>领取</strong></li>
    <%}%>
</ul>
