<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>多纳歌谣系列</title>
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../css/video_share.css" media="screen">
</head>
<body>
<div class="xiazai" id="weixin-tip">
    <p><img src="/images/live_weixin.png" alt="微信打开" width="100%" height=""/></p>
</div>
<div class="video_share">
    <div class="video_top">
        <video poster="<%=video.get("andImagePath")._url%>"  class="video" width="100%" height="100%">
            <source src="<%=video.get("videoPath")._url%>" type="video/ogg">
            <source src="<%=video.get("videoPath")._url%>" type="video/mp4">
        </video>
        <span class="play_icon"></span>
        <div class="video_bottom"></div>
        <div class="rang">
            <span id="opacity"></span>
            <span id="durationBg"></span>
            <span id="durationRound"></span>
        </div>
        <span class="icon-pause" id="play"></span>
    </div>
    <p class="font_notice"></p>
    <h2 class="logo"></h2>
    <a class="download" href="https://itunes.apple.com/cn/app/duo-na-xue-ying-yu-zhi-ru/id852917296?mt=8t"></a>
</div>
<script src="../js/zepto.min.js"></script>
<script>
    var btn=$(".play_icon");
    var video=$(".video");
    var pauseBtn=$("#play")
    btn.click(function(){
        video[0].play();
        $(this).hide();
        pauseBtn.show();
    })
    $("#play").click(function(){
        if(pauseBtn.hasClass("icon-pause")){
            video[0].pause()
        }else{
            video[0].play()
        }
    })
    video[0].addEventListener("play",function(e){
        pauseBtn.removeClass("icon-play").addClass("icon-pause");
    });
    video[0].addEventListener("pause",function(e){
        pauseBtn.removeClass("icon-pause").addClass("icon-play");
    });
    video[0].addEventListener("timeupdate",function(e){
        if(!isNaN(video[0].duration)){
            var width=$("#opacity").width()
            var avalue = (video[0].currentTime/video[0].duration)*width;
           console.log(video[0].duration)
            //console.log(avalue)
            $("#durationBg").css("width",avalue);
            $("#durationRound").css("left",avalue)
        }
    });

    //判断微信打开
    var u = navigator.userAgent, app = navigator.appVersion;
    var isweixin = u.toLowerCase().match(/MicroMessenger/i) == 'micromessenger'; //微信
    if(location.search.indexOf("?url=")==0){
        location.href=location.search.substr(5)
    }
    if(isweixin){
        if(location.search.indexOf("?url=")==0) {
            document.getElementById("weixin-tip").style.display = "block"
        }else{
            document.getElementById("weixin-tip").style.display = "none"
        }
        $(".download").click(function(e){
            e.preventDefault()
            location.href="?url="+$(this).attr("href")

        })
        document.getElementById("weixin-tip").onclick=function(){
            this.style.display="none"
        }
    }else{
        document.getElementById("weixin-tip").style.display="none"
    }

</script>
</body>
</html>
