<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>往期video</title>
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../css/wangqi.css" media="screen">

</head>
<body>
<div class="app1">
    <header class="header">
        <a class="back" href="javascript:;"><span class="icon-chevron-left"></span></a>往期video
   </header>
    <section class="section">
        <ul class="videoList">
            <%_.each(lists,function(v){%>
            <li>
                <img src="<%=v.get("andImagePath")._url%>">
                <div class="like">
                    <span></span>
                    <span class="icon-heart-empty"><b><%=v.get("likeNumber")%></b></span>
                </div>
                <div class="footerTitle">
                    <img src="../images/app/danyuange438-290.png">
                    <strong> <%=v.get("name")%></strong>
                    <a href="app1.html?videoid=<%= v.id%>" class="video"><p class="icon-caret-right icon-2x"></p></a>
                </div>
            </li>
            <%})%>
        </ul>
    </section>
</div>
<script src="../js/zepto.min.js"></script>
<script>
    $(".back").click(function(){
        window.location.href=document.referrer;
    })
</script>
</body>
</html>
